<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="modal fade pt-5" id="modalAddStudents" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="titleAddUser">
                                Agregar estudiante
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form [formGroup]="modalAddStudentProyect">
                                    <div class="row">
                                    <div class="col-lg-6">
                                        <label for="searchField" class="form-label"><strong>Buscar coincidencias</strong> </label>
                                        <input type="text" class="form-control border-primary" id="searchField" (input)="onSearchInput($event)">
                                      </div>

                                    

                                    <div class="col-lg-12">
                                        <!--TABLE-->
                                        <div class="col-lg-12 mt-5">
                                            <div class="form-group">
                                                <div class="table-responsive mb-3">
                                                    <table class="table w-100">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" *ngFor="let column of tableComponent">{{
                                                                    column.nombre }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let student of students">
                                                                <td>{{ student.nombre }}</td>
                                                                <td>{{ student.identificacionTipo }}</td>
                                                                <td>{{ student.nIdentificacion }}</td>
                                                                <td>{{ student.programaAcademico }}</td>
                                                                <td>{{ student.nCreditosAprobados }}</td>
                                                                <td>{{ student.porcentajeCreditosAprobados }}%</td>
                                                                <td>{{ student.correoElectronico }}</td>
                                                                <td>{{ student.telefono }}</td>
                                                                <td>{{ student.celular }}</td>
                                                                <td>{{ student.estado }}</td>
                                                                <td>
                                                                    <input class="radioUpc" type="radio"
                                                                        name="studentSelection"
                                                                        (change)="onStudentSelection(student)" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-success mb-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z">
                                                    </path>
                                                    <path
                                                        d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z">
                                                    </path>
                                                </svg>
                                                Agregar Estudiante
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z">
                                    </path>
                                </svg>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>