<footer class="home-footer">
  <div class="home-main5">
    <div class="home-branding">
      <div class="home-heading10">
        <h2 class="home-logo2">Character</h2>
        <p class="home-caption17">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
      <div class="home-socials1">
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noreferrer noopener"
          class="home-twitter1 social button"
        >
          <img
            alt="image"
            src="/assets/Icons/twitter.svg"
            class="home-image32"
          />
        </a>
        <a
          href="https://discord.com"
          target="_blank"
          rel="noreferrer noopener"
          class="home-discord1 social button"
        >
          <img
            alt="image"
            src="/assets/Icons/discord.svg"
            class="home-image33"
          />
        </a>
      </div>
    </div>
    <div class="home-links1">
      <div class="home-list1">
        <h3 class="home-heading11">Site</h3>
        <div class="home-items">
          <button class="home-link02 button-clean button">About</button>
          <button class="home-link03 button-clean button">Collection</button>
          <button class="home-link04 button-clean button">Roadmap</button>
          <button class="home-link05 button-clean button">Features</button>
        </div>
      </div>
      <div class="home-list2">
        <h3 class="home-heading12">Company</h3>
        <div class="home-items1">
          <button class="home-link06 button-clean button">Team</button>
          <button class="home-link07 button-clean button">Press</button>
          <button class="home-link08 button-clean button">Terms</button>
          <button class="home-link09 button-clean button">Limitations</button>
          <button class="home-link10 button-clean button">Licenses</button>
        </div>
      </div>
    </div>
    <div class="home-socials2">
      <a
        href="https://twitter.com"
        target="_blank"
        rel="noreferrer noopener"
        class="home-twitter2 social button"
      >
        <img
          alt="image"
          src="/assets/Icons/twitter.svg"
          class="home-image34"
        />
      </a>
      <a
        href="https://discord.com"
        target="_blank"
        rel="noreferrer noopener"
        class="home-discord2 social button"
      >
        <img
          alt="image"
          src="/assets/Icons/discord.svg"
          class="home-image35"
        />
      </a>
    </div>
  </div>
  <span class="home-copyright">© 2022 Character. All Rights Reserved.</span>
</footer>