<section class="home-project">
    <div class="home-understand">
      <div class="home-content13">
        <span class="home-caption10">UNIVERSIDAD POPULAR DEL CESAR - INGENIERIA DE SISTEMAS</span>
        <div class="home-heading02">
          <h2 class="home-header06">TIPOS DE OPCIONES DE GRADO</h2>

          <p class="home-header07">
            <b style="color: #70B620;">Naturaleza de las modalidades de grado</b>
            Las modalidades de grado de los programas de pregrado de Ingeniería y Tecnológicas, son un requisito académico para que la Institución le confiera a los estudiantes el título profesional de conformidad con el programa de pregrado cursado.
            Este acuerdo define y reglamenta el procedimiento por el cual los estudiantes deben inscribir y desarrollar cada una de las 
            modalidades de grado en los programas académicos de Ingeniería y Tecnológicas.
          </p>
          <p>  <b style="color: red;">Asignatura a matricular en el programa de ingeniería de Sistemas:</b> Proyecto de grado II.
            <b style="color: red;">Créditos académicos:</b> 7.</p>
        </div>
      </div>
      <img alt="image" src="/assets/group%202415.svg" class="home-image23" />
    </div>
  </section>
  <section class="home-cards">
    <div class="home-mining">
      <span class="home-caption11">SELECCIONA UNA MODALIDAD</span>
    </div>
    <div class="home-row">
      <div class="home-card">
        <div class="home-main">
          <div class="home-content01">
            <h2 class="home-header01">Proyecto de Grado</h2>
          </div>
          <button class="home-learn1 button">
            <span class="home-text11" (click)="validarRequisitos()">Comprobar si aplico</span>
            <img
              alt="image"
              src="/assets/Icons/arrow.svg"
              class="home-image02"
            />
          </button>
        </div>
      </div>
      <div class="home-card">
        <div class="home-main">
          <div class="home-content01">
            <h2 class="home-header01">Prácticas académicas</h2>
          </div>
          <button class="home-learn1 button">
            <span class="home-text11">Comprobar si aplico</span>
            <img
              alt="image"
              src="/assets/Icons/arrow.svg"
              class="home-image02"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="home-row">
      <div class="home-card">
        <div class="home-main">
          <div class="home-content01">
            <h2 class="home-header01">Estudio Co-terminal</h2>
          </div>
          <button class="home-learn1 button">
            <span class="home-text11">Comprobar si aplico</span>
            <img
              alt="image"
              src="/assets/Icons/arrow.svg"
              class="home-image02"
            />
          </button>
        </div>
      </div>
      <div class="home-card">
        <div class="home-main">
          <div class="home-content01">
            <h2 class="home-header01">Grado por promedio</h2>
          </div>
          <button class="home-learn1 button">
            <span class="home-text11">Comprobar si aplico</span>
            <img
              alt="image"
              src="/assets/Icons/arrow.svg"
              class="home-image02"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="home-row">
      <div class="home-card">
        <div class="home-main">
          <div class="home-content01">
            <h2 class="home-header01">Publicación de artículo científico</h2>
          </div>
          <button class="home-learn1 button">
            <span class="home-text11">Comprobar si aplico</span>
            <img
              alt="image"
              src="/assets/Icons/arrow.svg"
              class="home-image02"
            />
          </button>
        </div>
      </div>
      <div class="home-card">
        <div class="home-main">
          <div class="home-content01">
            <h2 class="home-header01">Seminario de actualización profundización</h2>
          </div>
          <button class="home-learn1 button">
            <span class="home-text11">Comprobar si aplico</span>
            <img
              alt="image"
              src="/assets/Icons/arrow.svg"
              class="home-image02"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="home-row">
      <div class="home-card">
        <div class="home-main">
          <div class="home-content01">
            <h2 class="home-header01">Grado por Resultado Saber Pro</h2>
          </div>
          <button class="home-learn1 button">
            <span class="home-text11">Comprobar si aplico</span>
            <img
              alt="image"
              src="/assets/Icons/arrow.svg"
              class="home-image02"
            />
          </button>
        </div>
      </div>
    </div>
  </section>