<!--MODAL VERIFICAR teacher-->
<div class="container containermodal">
    <div class="row">
        <div class="col-lg-12">
            <div class="modal fade pt-5" id="modalAddDocente" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="titleAddUser">
                                Verificar Docente
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="modalVerifyTeacher" class="ms-3 mt-2" (ngSubmit)="verifyTeacher()">
                                <div class="row mb-3">

                                    <div class="col-lg-3">
                                        <!--IdNumber-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">N°
                                                Identificación</label>
                                            <input type="number" class="form-control" id="identificacion"
                                                formControlName="identificacion" [ngClass]="{'border-red': modalVerifyTeacher.get('identificacion')?.hasError('required') && 
                                                                        modalVerifyTeacher.get('identificacion')?.hasError('minLength') &&
                                                                        modalVerifyTeacher.get('identificacion')?.hasError('maxLength')
                                                                        }">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <!--Firstname-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">Primer Nombre
                                                <strong>*</strong></label>
                                            <input type="text" class="form-control" id="primerNombre"
                                                formControlName="primerNombre" placeholder="Ej: José" [ngClass]="{'border-red': modalVerifyTeacher.get('primerNombre')?.hasError('required') && 
                                                                        modalVerifyTeacher.get('primerNombre')?.touched
                                                                        }">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <!--secondName-->
                                        <div class="form-group">
                                            <label class="ms-1 label-tag labelSelect">Segundo Nombre
                                                <strong>*</strong></label>
                                            <input type="text" class="form-control" id="segundoNombre"
                                                formControlName="segundoNombre" placeholder="Ej: David" [ngClass]="{'border-red': modalVerifyTeacher.get('segundoNombre')?.hasError('required') && 
                                                                        modalVerifyTeacher.get('segundoNombre')?.touched
                                                                        }">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <!--LastName1-->
                                        <div class="form-group">
                                            <label class="ms-1  label-tag" class="labelSelect">Primer Apellido
                                                <strong>*</strong></label>
                                            <input type="text" class="form-control" id="fisrtLastName"
                                                formControlName="fisrtLastName" placeholder="Ej: Rodriguez" [ngClass]="{'border-red': modalVerifyTeacher.get('fisrtLastName')?.hasError('required') && 
                                                                        modalVerifyTeacher.get('fisrtLastName')?.touched
                                                                        }">

                                        </div>
                                    </div>

                                </div>

                                <!--SecondRow-->
                                <div class="row mb-3">


                                    <div class="col-lg-3">
                                        <!--LastName2-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">Segundo Apellido
                                                <strong>*</strong></label>
                                            <input type="text" class="form-control" id="secondLastName"
                                                formControlName="secondLastName" placeholder="Ej: Ruiz" [ngClass]="{'border-red': modalVerifyTeacher.get('secondLastName')?.hasError('required') && 
                                                                        modalVerifyTeacher.get('secondLastName')?.touched
                                                                        }">

                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <!--E-mail-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">E-Mail</label>
                                            <input type="email" class="form-control" id="email" formControlName="email"
                                                [ngClass]="{'border-red': modalVerifyTeacher.get('email')?.hasError('required') && modalVerifyTeacher.get('email')?.touched}">

                                        </div>
                                    </div>


                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <!--Role-->
                                            <label for="role" class="labelSelect">Agregar Rol /
                                                Roles<strong>*</strong></label>
                                            <select formControlName="role" class="form-select form-control" multiple
                                                size="5">
                                                <option value="" disabled>Seleccionar</option>
                                                <option *ngFor="let role of roles" [value]="role.nombre">{{ role.nombre
                                                    }}</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <!--btnAggRole-->
                                            <button type="button"
                                                class="btn btn-primary d-flex justify-content-center mt-4"
                                                (click)="addToSelectedRoles()">Agregar rol</button>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <!-- comentarios -->
                                        <label for="comentarios" class="labelSelect">Roles Seleccionados</label>
                                        <textarea class="form-control" id="comentarios" formControlName="comentarios" readonly>
                                            {{ selectedRoles.join(', ') }}
                                            </textarea>
                                    </div>
                                </div>

                                <!-- Botones modal aceptar, rechazar -->
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-4">
                                        <button type="submit" class="btn btn-success ms-3 me-3" data-bs-dismiss="modal">
                                            Aceptar
                                        </button>
                                        <button type="button" class="btn btn-outline-danger ms-3 me-3"
                                            data-bs-dismiss="modal">
                                            Rechazar
                                        </button>
                                    </div>

                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>