<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="h1-text">{{ tittle1 }}</h1>
            <div class="container pe-5">
                <div class="row">
                    <!--TABLE-->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="container mt-2"  >
                                <div class="input-group" *ngIf="listProyectos.length != 0">
                                    <div class="input-group-prepend">
                                        <button type="button" disabled class="btn btn-outline-secondary search-button">
                                            <i class="fas fa-search search-icon"></i>
                                        </button>
                                    </div>
                                    <input   type="text" [(ngModel)]="searchText" class="form-control search-input" placeholder="Buscar por Id director o Id integrantes...">
                                </div>
                            </div>

                            <div class="table-responsive mb-3">
                                <ng-container *ngIf="listProyectos.length > 0; else noProjects">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" *ngFor="let column of tableComponent  ">{{ column.nombre }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let list of pagedProyectos  | filtroDocente:searchText;">
                                               <ng-container *ngIf="!list.noResults; else noProjects">
                                                <td>{{ list.titulo }}</td>
                                                <td>{{ list.areaTematica }}</td>
                                                <td>{{ list.idIntegrante1 }}, {{ list.idIntegrante2 }}, {{ list.idIntegrante3 }}</td>
                                                <td>{{ list.idDirector }}</td>
                                                <td>{{ list.fechaCreacion | date:'dd/MM/yyyy' }}</td>
                                                <td>
                                                    <a [routerLink]="['/docente-panel/ver-anteproyecto', list.id]">
                                                      <i class="fa fa-eye"></i>
                                                    </a>
                                                  </td>
                                               </ng-container>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                                <ng-template #noProjects>
                                    <div class="alert alert-info">
                                        No hay proyectos para mostrar
                                    </div>
                                    
                                </ng-template>
                              
                            </div>
                        </div>
                        <div *ngIf="listProyectos.length != 0">
                            <!-- Botones de paginación -->
                        <p>Página {{ p }} de {{ totalPages }}</p>
                        <button class="btn btn-success me-3" (click)="pageChanged(p - 1)" [disabled]="!canShowPrevious()">Previous</button>
                        <button class="btn btn-success" (click)="pageChanged(p + 1)" [disabled]="!canShowNext()">Next</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

