<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <p>PROPUESTA DE PROYECTO DE GRADO  </p>
        </div>
        <div id="date" class="col-8 ps-5">
            <p>Fecha: {{ currentDate | date:'dd/MM/yyyy' }}</p>
            <div class="logout">
                <button (click)="logOut()" class="btn btn-danger" style="cursor: pointer;">
                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                </button>
            </div>
            
            
        </div>
        
    </div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item" *ngFor="let item of menuComponent">
                <a [routerLink]="item.url">{{ item.nombre }}</a>
            </li>
        </ul>
        </header>
    </div>
    
</div>