
<div style="margin-top: 100px;">

<div class="container ">
    <div class="row">
        <div class="col-lg-12 ">
            <h1 class="h1-text">{{tittle1}}</h1>
            <form [formGroup]="specificInfo" (ngSubmit)="specificInfoSave()">
                <div class="container pt-3 ps-5 pe-5 ">
                    <div class="row">
                        <div class="col-lg-20">
                            <div class="col-md-20 d-flex m-2">
                                <label for="txtTitulo"  class="form-control p-1 flex-grow-0 lblSpecific">Título de la propuesta:</label>
                                <textarea type="text" maxlength="90" class="form-control flex-grow-1 border-secondary" id="txtTitulo"
                                formControlName="txtTitulo" placeholder="Ingrese titulo de la propuesta"
                                [ngClass]="{'is-invalid': specificInfo.get('txtTitulo')?.hasError('required') && specificInfo.get('txtTitulo')?.touched}"></textarea>
                            </div>
                        </div>
                        <label class="labelSelect mt-2 h1-text">INTEGRANTE (S)</label>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="fas fa-exclamation-triangle"></i>
                            <strong>Advertencia!</strong> 
                            {{msgAdvertencia}}
                          </div>

                          <div class="col-md-20 d-flex m-2">
                            <label for="txtEstudiante1"  class="form-control p-1 flex-grow-0 lblSpecific">Estudiante #1</label>
                            <input type="text" readonly maxlength="90" class="form-control flex-grow-1 border-secondary" id="txtEstudiante1"
                            formControlName="txtEstudiante1" placeholder="Click para buscar estudiante"/>
                        </div>                       

                        <div class="col-md-20 d-flex m-2">
                            <label for="txtEstudiante2"  class="form-control p-1 flex-grow-0 lblSpecific">Estudiante #2</label>
                            <input type="text" readonly maxlength="90" class="form-control flex-grow-1 border-secondary" id="txtEstudiante2" (click)="openModalEstudiante()"
                            formControlName="txtEstudiante2" placeholder="Click para buscar estudiante"/>
                        </div>

                        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="identificacion2!==''">
                          <i class="fas fa-exclamation-triangle"></i>
                          <strong>!</strong> 
                          Al finalizar la propuesta llegara un correo electronico a este estudiante para que confirme su participacion en este proyecto, si no confirma el correo electronico, no sera miembro de esta propuesta.
                        </div>


                        
                        <div class="col-md-20 d-flex m-2">
                            <label for="txtEstudiante3"  class="form-control p-1 flex-grow-0 lblSpecific">Estudiante #3</label>
                            <input type="text" readonly maxlength="90" class="form-control flex-grow-1 border-secondary" id="txtEstudiante3" (click)="openModalEstudiante2()"
                            formControlName="txtEstudiante3" placeholder="Click para buscar estudiante"/>
                        </div>

                        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="identificacion3!==''">
                          <i class="fas fa-exclamation-triangle"></i>
                          <strong>!</strong> 
                          Al finalizar la propuesta llegara un correo electronico a este estudiante para que confirme su participacion en este proyecto, si no confirma el correo electronico, no sera miembro de esta propuesta.
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-lg-12 ">

            <h1 class="h1-text">{{tittle2}}</h1>

            <form [formGroup]="specificInfo" (ngSubmit)="specificInfoSave()">
                <div class="container pt-3 ps-md-5 pe-md-5">
                  <div class="row">
                    <div class="col-md-9 d-flex m-1">
                      <label for="inv_line"  class="form-control p-1 flex-grow-0 lblSpecific">Linea de Investigación:</label>
                      <input type="text" maxlength="90" class="form-control flex-grow-1 border-secondary" id="inv_line"
                       formControlName="inv_line" placeholder="Ingrese linea de investigación"
                       [ngClass]="{'is-invalid': specificInfo.get('inv_line')?.hasError('required') && specificInfo.get('inv_line')?.touched}">
                       
                   
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9 d-flex m-1">
                      <label for="sub_inv_line" class="form-control  p-1 flex-grow-0 lblSpecific">Sub-Linea de Investigación:</label>
                      <input type="text" maxlength="90"  class="form-control flex-grow-1 border-secondary" id="sub_inv_line" 
                      formControlName="sub_inv_line" placeholder="Sub-Linea de Investigación"
                      [ngClass]="{'is-invalid': specificInfo.get('sub_inv_line')?.hasError('required') && specificInfo.get('sub_inv_line')?.touched}">
                      
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9 d-flex m-1">
                      <label for="tematicArea" maxlength="90"  class="form-control p-1 flex-grow-0 lblSpecific">Área Temática:</label>
                      <input type="text" maxlength="90" class="form-control flex-grow-1 border-secondary" id="tematicArea" 
                      formControlName="tematicArea" placeholder="Área Temática"
                      [ngClass]="{'is-invalid': specificInfo.get('tematicArea')?.hasError('required') && specificInfo.get('tematicArea')?.touched}">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9 d-flex m-1">
                      <label for="inv_group"  class="form-control p-1 flex-grow-0 lblSpecific">Grupo de Investigación:</label>
                      <input type="text"  class="form-control flex-grow-1 border-secondary" id="inv_group" 
                      formControlName="inv_group" placeholder="Grupo de Investigación"
                       [ngClass]="{'is-invalid': specificInfo.get('inv_group')?.hasError('required') && specificInfo.get('inv_group')?.touched}">
                    </div>
                  </div>
                </div>
              </form>
              

        </div>
    </div>

    <div class="row m4-4">
      <div class="col-lg-12 ">
         <h1 class="h1-text">{{tittle3}}</h1>
         <div class="container pt-3 ps-md-5 pe-md-5">
          <div class="row">
            <div class="col-md-9 d-flex m-1">
              <label for="planteamiento"  class="form-control p-1 flex-grow-0 lblSpecific">Planteamiento y formulacion del problema:</label>
              <textarea class="form-control me-2 textareaGroup" formControlName="planteamiento"
              id="planteamiento"
              [ngClass]="{'is-invalid': specificInfo.get('planteamiento')?.hasError('required') && specificInfo.get('planteamiento')?.touched}"
              ></textarea>
            </div>

            <div class="row">
              <div class="col-md-9 d-flex m-1">
                <label for="justificacion"  class="form-control p-1 flex-grow-0 lblSpecific">Justificacion:</label>
                <textarea class="form-control me-2 textareaGroup" formControlName="justificacion"
                id="justificacion"
                [ngClass]="{'is-invalid': specificInfo.get('justificacion')?.hasError('required') && specificInfo.get('justificacion')?.touched}"
                ></textarea>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>

    
    <div class="row m4-4">
      <div class="col-lg-12 ">
         <h1 class="h1-text">{{tittle5}}</h1>
          <div class="container pt-3 ps-md-5 pe-md-5">
            <div class="row">
              <div class="col-md-9 d-flex m-1">
                <label for="objetivoGeneral "  class="form-control p-1 flex-grow-0 lblSpecific">Objetivo General:</label>
                <textarea class="form-control me-2 textareaGroup" formControlName="objetivoGeneral"
                id="objetivoGeneral"
                [ngClass]="{'is-invalid': specificInfo.get('objetivoGeneral')?.hasError('required') && specificInfo.get('objetivoGeneral')?.touched}"
                 ></textarea>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-9 d-flex m-1">
                <label for="objetivoEspecifico"  class="form-control p-1 flex-grow-0 lblSpecific">Objetivos Especificos:</label>
                <textarea class="form-control me-2 textareaGroup" formControlName="objetivoEspecifico"
                id="objetivoEspecifico"
                [ngClass]="{'is-invalid': specificInfo.get('objetivoEspecifico')?.hasError('required') && specificInfo.get('objetivoEspecifico')?.touched}"
                 ></textarea>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row m4-4">
      <div class="col-lg-12 ">
         <h1 class="h1-text">7. BIBLIOGRAFIA</h1>
          <div class="container pt-3 ps-md-5 pe-md-5">
            <div class="row">
              <div class="col-md-9 d-flex m-1">
                <label for="bibliografia"  class="form-control p-1 flex-grow-0 lblSpecific">Bibliografias:</label>
                <textarea class="form-control me-2 textareaGroup" formControlName="bibliografia"
                id="bibliografia"
                [ngClass]="{'is-invalid': specificInfo.get('bibliografia')?.hasError('required') && specificInfo.get('bibliografia')?.touched}"
                 ></textarea>
              </div>
            </div>
          </div>
      </div>
    </div>
                  <!--Next buttom-->
    <div class="col-md-12  text-end pt-5">
        <div class="contact-form mt-45 ">
            <button type="submit" class="btn btn-success btn-nextGroup"
            [disabled]="generalInfo.invalid || specificInfo.invalid " routerLink="/planteamiento">Siguiente</button>
        </div>
    </div>
</div>
<app-general-info-add-student></app-general-info-add-student>
    
</div>