.container-fluid {
  width: 90%;
  height: 100vh;
  margin-top: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  font-family: Arial, Helvetica, sans-serif;  
}

.svg-img {
  width: 100%; /* Ancho del contenedor al 100% */
  height: 100%; /* Altura del contenedor al 100% */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.middle-screen{
  background-color: #f3f3f3;
  opacity: 0.9;
  background-image: radial-gradient(#e9e32c 0.9px, #f3f3f3 0.9px);
  background-size: 18px 18px; 
  margin-bottom: 5px;
  margin-left: -10px;
  margin-right: -12px;
  min-height: 95vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 3px solid #85bd6c;
  border-bottom: 3px solid #85bd6c;
  border-left: 3px solid #85bd6c;
}


.card {
  background-color: #f3f3f3;
  opacity: 0.9;
  background-image:  radial-gradient(#0c7d45 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#0c7d45 0.8500000000000001px, #000000 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
  background-position: 0 0,10px 10px;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  
}

.card-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 28px;
  
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  
}

.row{
  width: 100%;
}

/* Estilos para los iconos de tipo de usuario */
.user-type-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-type-icon {
  cursor: pointer;
  font-size: 20px;
  color: #0c7d45;
  margin: 0 10px;
  transition: color 0.2s;
}

.label-tag{
  font-weight: bold;
  color: white;
}

.user-type-icon:hover {
  color: #85bd6c;
  
}



.btn-registrar{
  background-color: #0c7d45;
  border-color: #0c7d45;
  font-family: Arial, Helvetica, sans-serif;  
  width: 60%;
}

.btn-registrar:hover{
    
  
  padding: 5px 40px;
  transform : translateY(-0px);
  background-color: #44a444;
  color: #ffffff;
  border: solid 2px #44a444;
  }

  .btn-crear{
    background-color: #e9e32c;
    border-color: #e9e32c;
    font-family: Arial, Helvetica, sans-serif;  
    width: 60%;
    color: #44a444;
  }
  
  .btn-crear:hover{
      
    
    padding: 5px 40px;
    transform : translateY(-0px);
    background-color: #44a444;
    color: #ffffff;
    border: solid 2px #44a444;
    }

strong, span{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: white;
    opacity: 90%;
    border-radius: 3px;
    padding: 2px;
}

a{
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  color: #e9e32c ;
}

p{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
