.containermodal{
    background-color: ghostwhite;
    padding-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.modal-dialog{
    font-family: Arial, Helvetica, sans-serif;
}

.modal-dialog h1{
    font-size: 17px;
    color: #0c7d45;
    font-weight: bolder;
    padding-left: 17px;
}

.table-responsive-modal{
    border-radius: 10px;
    font-size: 14px;
}

.tableModal{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    
}

.tableModal th::content{
    
    background-color: #0c7d45;
    color: white;
    font-weight: bolder;
}

