   <!--MODAL VERIFICAR students-->
   <div class="container containermodal">
    <div class="row">
        <div class="col-lg-12">
            <div class="modal fade pt-5" id="modalAddStudents" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="titleAddUser">
                                Verificar estudiante
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="modalVerifyStudent" class="ms-3 mt-2" (ngSubmit)="verifyStudent()">
                                <div class="row mb-3">

                                    <div class="col-lg-3">
                                        <!--IdNumber-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">N° Identificación</label>
                                            <input type="number" class="form-control" id="identification"
                                                formControlName="identification" [ngClass]="{'border-red': modalVerifyStudent.get('identification')?.hasError('required') && 
                                                                        modalVerifyStudent.get('identification')?.hasError('minLength') &&
                                                                        modalVerifyStudent.get('identification')?.hasError('maxLength')
                                                                        }">
                                        </div>
                                    </div>
            
                                    <div class="col-lg-3">
                                        <!--Firstname-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">Primer Nombre
                                                <strong>*</strong></label>
                                            <input type="text" class="form-control" id="firstName" formControlName="firstName"
                                                placeholder="Ej: José" [ngClass]="{'border-red': modalVerifyStudent.get('firstName')?.hasError('required') && 
                                                                        modalVerifyStudent.get('firstName')?.touched
                                                                        }">
                                        </div>
                                    </div>
            
                                    <div class="col-lg-3">
                                        <!--secondName-->
                                        <div class="form-group">
                                            <label class="ms-1 label-tag labelSelect">Segundo Nombre <strong>*</strong></label>
                                            <input type="text" class="form-control" id="secondName" formControlName="secondName"
                                                placeholder="Ej: David" [ngClass]="{'border-red': modalVerifyStudent.get('secondName')?.hasError('required') && 
                                                                        modalVerifyStudent.get('secondName')?.touched
                                                                        }">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <!--LastName1-->
                                        <div class="form-group">
                                            <label class="ms-1  label-tag" class="labelSelect">Primer Apellido
                                                <strong>*</strong></label>
                                            <input type="text" class="form-control" id="fisrtLastName"
                                                formControlName="fisrtLastName" placeholder="Ej: Rodriguez" [ngClass]="{'border-red': modalVerifyStudent.get('fisrtLastName')?.hasError('required') && 
                                                                        modalVerifyStudent.get('fisrtLastName')?.touched
                                                                        }">
            
                                        </div>
                                    </div>
            
                                </div>
            
                                <!--SecondRow-->
                                <div class="row mb-3">
                                    
            
                                    <div class="col-lg-3">
                                        <!--LastName2-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">Segundo Apellido
                                                <strong>*</strong></label>
                                            <input type="text" class="form-control" id="secondLastName"
                                                formControlName="secondLastName" placeholder="Ej: Ruiz" [ngClass]="{'border-red': modalVerifyStudent.get('secondLastName')?.hasError('required') && 
                                                                        modalVerifyStudent.get('secondLastName')?.touched
                                                                        }">
            
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3">
                                        <!--E-mail-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">E-Mail</label>
                                            <input type="email" class="form-control" id="email" formControlName="email"
                                                [ngClass]="{'border-red': modalVerifyStudent.get('email')?.hasError('required') && modalVerifyStudent.get('email')?.touched}">
            
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <!--approbedCredits-->
                                        <div class="form-group">
                                            <label class="ms-1 mb-1 label-tag" class="labelSelect">Creditos Aprobados</label>
                                            <input type="number" class="form-control" id="approbedCredits"
                                                formControlName="approbedCredits">
                                            <span class="text-danger ms-2"
                                                *ngIf="modalVerifyStudent.get('approbedCredits')?.hasError('required') && modalVerifyStudent.get('approbedCredits')?.touched">
                                                E-mail <strong>requerido</strong>
                                            </span>
                                            <span class="text-danger ms-2"
                                                *ngIf="modalVerifyStudent.get('approbedCredits')?.hasError('approbedCredits') && modalVerifyStudent.get('approbedCredits')?.touched">
                                                E-mail <strong>inválido.</strong>
                                            </span>
                                        </div>
                                    </div>
                            
            
            
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-success ms-3 me-3" data-bs-dismiss="modal">
                                            Aceptar
                                        </button>
                                        <button type="button" class="btn btn-outline-danger ms-3 me-3" data-bs-dismiss="modal">
                                            Rechazar
                                        </button>
                                    </div>
                                    
                                </div>
                                
                            
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>