<div class="container-fluid">
    <div class="row">
        <h3>Panel de administrador</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="rounded border border-secondary">
                <ul class="nav flex-column menuStyle">
                    <li class="nav-item">
                        <a style="font-size: 16px; background-color: #0c7d45; color: white; font-weight: bold; border-top-left-radius: 4px; border-top-right-radius: 4px;"
                            class="nav-link active-link selected-submenu" data-bs-toggle="collapse"
                            href="#sumbenuAdminUser" role="button" aria-expanded="true"
                            aria-controls="sumbenuAdminUser" [ngClass]="{'show': isSubMenuOpen}"
                            (click)="isSubMenuOpen = !isSubMenuOpen">
                            Administración de Usuarios <i class="fas fa-chevron-down ms-3"
                                [ngClass]="{'fa-rotate-180': isSubMenuOpen}"></i>
                        </a>
                        <div class="collapse show" id="sumbenuAdminUser">
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/admin-panel/verify-user"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'userVerification' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'userVerification'}"
                                        (click)="isSelectedOption = 'userVerification'">Verificar usuarios</a>

                                        <a class="nav-link" routerLink="/admin-panel/register"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'createUser' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'createUser'}"
                                        (click)="isSelectedOption = 'createUser'">Crear usuarios</a>

                                        <a class="nav-link" routerLink="/tu-cuenta/editar-perfil"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'manageUser' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'manageUser'}"
                                        (click)="isSelectedOption = 'manageUser'">Gesionar usuarios</a>
                                </li>

                                <a class="nav-link" routerLink="/tu-cuenta/editar-perfil"
                                [ngStyle]="{ 'background-color': isSelectedOption === 'salir' ? '#e9e32c' : '' }"
                                [ngClass]="{'selected-link': isSelectedOption === 'salir'}"
                                (click)="isSelectedOption = 'salir'">Salir</a>
                            </ul>
                        </div>
                    </li>

                    
                </ul>
                <!--
                <ul class="nav flex-column menuStyle">
                    <li class="nav-item">
                        <a style="font-size: 18px; background-color: #0c7d45; font-weight: bold; border-top-left-radius: 4px; border-top-right-radius: 4px;"
                            class="nav-link active-link selected-submenu" data-bs-toggle="collapse"
                            href="#submenuAdminSede" role="button" aria-expanded="true"
                            aria-controls="submenuAdminSede" [ngClass]="{'show': isSubMenuOpen}"
                            (click)="!isSubMenuOpen">
                            Gestión de Sede <i class="fas fa-chevron-down ml-auto"
                                [ngClass]="{'fa-rotate-180': isSubMenuOpen}"></i>
                        </a>
                        <div class="collapse show" id="submenuAdminSede">
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/tu-cuenta/editar-perfil"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'userVerification' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'userVerification'}"
                                        (click)="isSelectedOption = 'userVerification'">Verificar usuarios</a>

                                        <a class="nav-link" routerLink="/tu-cuenta/editar-perfil"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'createUser' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'createUser'}"
                                        (click)="isSelectedOption = 'createUser'">Crear usuarios</a>

                                        <a class="nav-link" routerLink="/tu-cuenta/editar-perfil"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'manageUser' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'manageUser'}"
                                        (click)="isSelectedOption = 'manageUser'">Gesionar usuarios</a>
                                </li>

                                <a class="nav-link" routerLink="/tu-cuenta/editar-perfil"
                                [ngStyle]="{ 'background-color': isSelectedOption === 'salir' ? '#e9e32c' : '' }"
                                [ngClass]="{'selected-link': isSelectedOption === 'salir'}"
                                (click)="isSelectedOption = 'salir'">Salir</a>
                            </ul>
                        </div>
                    </li>

                    
                </ul>-->
            </div>
            
        </div>

        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


