<div class="container-fluid">
    <div class="row">
        <h3>Completa tu perfil</h3>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="rounded border border-secondary">
                <ul class="nav flex-column menuStyle">
                    <li class="nav-item">
                        <a style="font-size: 20px; background-color: #0c7d45; font-weight: bold; border-top-left-radius: 4px; border-top-right-radius: 4px;"
                            class="nav-link active-link selected-submenu" data-bs-toggle="collapse"
                            href="#submenuEditarPerfil" role="button" aria-expanded="true"
                            aria-controls="submenuEditarPerfil" [ngClass]="{'show': isSubMenuOpen}"
                            (click)="isSubMenuOpen = !isSubMenuOpen">
                            Mi cuenta <i class="fas fa-chevron-down ml-auto"
                                [ngClass]="{'fa-rotate-180': isSubMenuOpen}"></i>
                        </a>
                        <div class="collapse show" id="submenuEditarPerfil">
                            <ul class="nav flex-column submenu">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/tu-cuenta/editar-perfil"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'editarPerfil' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'editarPerfil'}"
                                        (click)="isSelectedOption = 'editarPerfil'">Editar perfil</a>
                                    <a class="nav-link" style="cursor: pointer;"
                                        [ngStyle]="{ 'background-color': isSelectedOption === 'salir' ? '#e9e32c' : '' }"
                                        [ngClass]="{'selected-link': isSelectedOption === 'salir'}"
                                        (click)="logOut()">Salir</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>





        <div class="col-md-9">
            <div class="d-flex justify-content-center align-items-center">
                <form [formGroup]="teacherProfile" class="ms-3 mt-2" (ngSubmit)="saveProfileTeacher()">
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <!--IdNumber-->
                            <div class="form-group">
                                <label class="ms-1 mb-1 label-tag" class="labelSelect">N° Identificación</label>
                                <input type="number" class="form-control" id="identificacion" readonly
                                    formControlName="identificacion" [ngClass]="{'border-red': teacherProfile.get('identificacion')?.hasError('required') && 
                                                            teacherProfile.get('identificacion')?.hasError('minLength') &&
                                                            teacherProfile.get('identificacion')?.hasError('maxLength')
                                                            }">
                            </div>
                        </div>

                        <div class="col-lg-4 col">
                            <!--Firstname-->
                            <div class="form-group">
                                <label class="ms-1 mb-1 label-tag" class="labelSelect">Primer Nombre
                                    <strong>*</strong></label>
                                <input type="text" class="form-control" id="primerNombre" formControlName="primerNombre"
                                    placeholder="Ej: José" [ngClass]="{'border-red': teacherProfile.get('primerNombre')?.hasError('required') && 
                                                            teacherProfile.get('primerNombre')?.touched
                                                            }">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <!--secondName-->
                            <div class="form-group">
                                <label class="ms-1 label-tag labelSelect">Segundo Nombre</label>
                                <input type="text" class="form-control" id="segundoNombre"
                                    formControlName="segundoNombre" placeholder="Ej: David">
                            </div>
                        </div>

                    </div>

                    <!--SecondRow-->
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <!--LastName1-->
                            <div class="form-group">
                                <label class="ms-1  label-tag" class="labelSelect">Primer Apellido
                                    <strong>*</strong></label>
                                <input type="text" class="form-control" id="primerApellido"
                                    formControlName="primerApellido" placeholder="Ej: Rodriguez" [ngClass]="{'border-red': teacherProfile.get('primerApellido')?.hasError('required') && 
                                                            teacherProfile.get('primerApellido')?.touched
                                                            }">

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <!--LastName2-->
                            <div class="form-group">
                                <label class="ms-1 mb-1 label-tag" class="labelSelect">Segundo Apellido</label>
                                <input type="text" class="form-control" id="segundoApellido"
                                    formControlName="segundoApellido" placeholder="Ej: Ruiz">

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <!--Cel-->
                            <div class="form-group">
                                <label class="ms-1 mb-1 label-tag" class="labelSelect">Teléfono / Celular
                                    <strong>*</strong>
                                </label>
                                <input type="text" maxlength="10" class="form-control" id="telefono"
                                    formControlName="telefono" placeholder="Ej: 3013023034" [ngClass]="{
                                    'border-red': (teacherProfile.get('telefono')?.hasError('required') &&  teacherProfile.get('telefono')?.touched) || teacherProfile.get('telefono')?.hasError('pattern')
                                }">

                                <span class="text-danger" *ngIf="teacherProfile.get('telefono')?.hasError('pattern')">
                                    Celular <strong>inválido</strong>.
                                </span>
                            </div>

                        </div>


                    </div>

                    <!--ThirdRow-->
                    <div class="row mb-3">


                        <div class="col-lg-4">
                            <div class="form-group">
                                <!--direction-->
                                <label for="program" class="labelSelect">Dirección <strong>*</strong></label>
                                <input type="text" class="form-control" id="direccion" formControlName="direccion"
                                    placeholder="Ingrese dirección" [ngClass]="{'border-red': teacherProfile.get('direccion')?.hasError('required') && 
                                                        teacherProfile.get('direccion')?.touched
                                                                }">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <!--E-mail-->
                            <div class="form-group">
                                <label class="ms-1 mb-1 label-tag" class="labelSelect">E-Mail</label>
                                <input type="email" class="form-control" id="email" formControlName="email"
                                    [ngClass]="{'border-red': teacherProfile.get('email')?.hasError('required') && teacherProfile.get('email')?.touched}">

                            </div>
                        </div>

                        <!--Programa-->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="idProgramaLbl" class="ms-1 mb-1 label-tag" class="labelSelect">Seleccione su
                                    programa</label>
                                <select formControlName="idPrograma" name="idPrograma" class="form-select form-control">
                                    <option value="">Seleccione un programa</option>
                                    <option *ngFor="let programa of programas" [value]="programa.id">{{
                                        programa.nombrePrograma }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--4thdRow-->
                    <div class="row mb-3">


                        <div class="col-lg-4">
                            <div class="form-group">
                                <!--enfasis-->
                                <label for="program" class="labelSelect">Enfasis <strong>*</strong></label>
                                <input type="text" maxlength="30" class="form-control" id="enfasis"
                                    formControlName="enfasis" placeholder="Ej: Desarrollador Web" [ngClass]="{'border-red': teacherProfile.get('enfasis')?.hasError('required') && 
                                                        teacherProfile.get('enfasis')?.touched
                                                                }">
                            </div>
                        </div>

                    </div>

                    <app-loading *ngIf="loading"></app-loading>
                    <button type="submit" class="btn btn-primary btn-lg mx-auto btn-confirmar"
                        [disabled]="teacherProfile.invalid">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>