<div class="not-found-container">
    <h3>OOPS! HAY UN PROBLEMA CON LA RUTA</h3>
    <div class="not-found-container1"><h1 class="not-found-text1">404</h1></div>
    <div class="not-found-container2">
      <h2 class="not-found-text2">
        LO SENTIMOS, PERO LA PÁGINA SOLICITADA NO SE HA ENCONTRADO
      </h2>
    </div>
    <div class="home-buttons">
      <button style="background-color: #70B620;" class="button" (click)="clickRegresarInicio()">Volver a inicio</button>
    </div>
  </div>
  