<div class="copyright-copyright" [ngClass]="rootClassName">
    <div class="copyright-max-width">
      <span class="copyright-text">
        <span class="copyright-text01">
          <span>
            © All rights reserved
            <span [innerHTML]="raw3p4z"></span>
          </span>
          <span><span [innerHTML]="rawiibe"></span></span>
        </span>
        <a
          href="https://www.teleporthq.io"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text04">@TeleportHQ.</span>
        </a>
        <span class="copyright-text05">
          <span>
            Powered by
            <span [innerHTML]="rawi2i2"></span>
          </span>
          <span><span [innerHTML]="raws4w9"></span></span>
        </span>
        <a
          href="https://www.vercel.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text08">Vercel</span>
        </a>
        <span class="copyright-text09">
          <span>
            . Image source:
            <span [innerHTML]="rawl4a3"></span>
          </span>
          <span><span [innerHTML]="rawe1d5"></span></span>
        </span>
        <a
          href="https://www.unsplash.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text12">Unsplash</span>
        </a>
        <span class="copyright-text13">.</span>
      </span>
    </div>
  </div>
  