.container{
    background-color: ghostwhite;
    padding-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.textareaGroup{
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
    height: 100px;
}

.btn-secondary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btnThird{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#validarTitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: -15px;
}

.table-responsive{
    border-radius: 10px;
    font-size: 14px;
    margin-left: -20px;
    margin-right: -50px;
}

.table{
    border: 1px;
}

.table th::content{
    background-color: #0c7d45;
    font-weight: bolder;
    color: white;
}

.checkOption {
    cursor: pointer;
    transition: color 0.3s; /* Transición para el cambio de color en hover */
  }
  
  .checkOption:hover {
    color: #0c7d45;
    background-color: #0c7d4496;
    border-radius: 5%;
    
  }

.table th::content,
.table td::content {
max-width: 300px; 
white-space: nowrap; 
overflow: hidden; 
text-overflow: ellipsis; 

}




