<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="h1-text">Lista de usuarios por verificar</h1>
            <form [formGroup]="form">
                <div class="container pt-3 ps-5 pe-5">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="emailFilter">Filtrar por correo electrónico:</label>
                                <input type="text">
                            </div>
                            <!-- TABLE -->
                            <div class="col-lg-12 mt-5">
                                <div class="form-group">
                                    <div class="table-responsive mb-3">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" *ngFor="let column of tableComponent">{{
                                                        column.nombre }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let student of students">
                                                    <td>{{ student.nombre }}</td>
                                                    <td>{{ student.identificacionTipo }}</td>
                                                    <td>{{ student.nIdentificacion }}</td>
                                                    <td>{{ student.programaAcademico }}</td>
                                                    <td style="text-align: center;">{{ student.nCreditosAprobados }}
                                                    </td>
                                                    <td style="text-align: center;">{{
                                                        student.porcentajeCreditosAprobados }}%</td>
                                                    <td>{{ student.correoElectronico }}</td>
                                                    <td>{{ student.telefono }}</td>
                                                    <td>{{ student.celular }}</td>
                                                    <td>{{ student.rol }}</td>
                                                    <td>
                                                        <button *ngIf="student.rol === 'estudiante'" class="btn-success"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#modalAddStudents">Verificar</button>
                                                        <button *ngIf="student.rol === 'Docente'" class="btn-success"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#modalAddDocente">Verificar</button>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-verify-student></app-verify-student>
<app-verify-teacher></app-verify-teacher>